<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!--Grant Internet access-->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/pikachu_blue"
        android:label="@string/app_name"
        android:roundIcon="@drawable/pikachu_blue"
        android:supportsRtl="true"
        tools:targetApi="31">


        <activity
            android:name=".authentication.LoginActivity"
            android:theme="@style/Theme.Lopez_Salazar_Mario_PMDM03.login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.Lopez_Salazar_Mario_PMDM03"
            android:configChanges="orientation|keyboardHidden|screenSize" />
    </application>

</manifest>